@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
    width: 1280px;
    height: 560px;
    gap: 64;
    border-radius: 24px;
    background: rgb(198, 228, 214);
   margin: 0px auto;
}
.banner{
    padding: 80px 100px 80px 100px;
    display: flex;
    justify-content: center;
}
.banner h4{
    width: 622px;
height: 29px;
gap: 16;
/* margin: 16px 0px; */
color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.banner h1{
    width: 622px;
height: 201px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}
.banner button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
padding: 17px 34px 17px 34px;
border-radius: 8px;
background: rgb(0, 106, 80);
}
.banner button:hover{
    background-color: aqua;
}
.profile{
    /* position: static; */
    width: 474.03px;
    height: 400px;
    padding: 0px 30px 0px 50px;
}
.visions{
width: 1280px;
height: 765px;
margin: 20px auto;
justify-content: center;
align-items: center;
}
.vision{
    display: flex;
    width: 1280px;
height: 325px;
margin: 30px auto;
gap: 24;
justify-content: space-between;
}
.vision-future{
    width: 1280px;
height: 120px;
margin: 0px auto;
}
.vision-future h2{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin: 100px 0px 20px 0px;
gap: 24;
}
.vision-future p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.vision-1{
    width: 410.67px;
    height: 325px;
    padding: 32px;
    box-sizing: border-box;
border-radius: 16px;

background: rgba(84, 144, 245, 0.2);
}
.vision-1 img{
    width: 62px;
height: 62px;
left: 1px;
top: 1px;
}
.vision-1 h4{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.vision-1 p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.vision-1 button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 11px 20px 11px 20px;
border-radius: 8px;

background: rgb(84, 144, 245);
}
.vision-2{
    width: 410.67px;
    height: 325px;
    padding: 32px;
    box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
}
.vision-2 img{
    width: 62px;
height: 62px;
left: 1px;
top: 1px;
}
.vision-2 h4{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.vision-2 p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.vision-2 button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
    padding: 11px 20px 11px 20px;
    margin: 26px 0px 0px 0px;
    border-radius: 8px;
background: rgb(9, 161, 92);
}
.vision-3{
    width: 410.67px;
    height: 325px;
    padding: 32px;
    box-sizing: border-box;
border-radius: 16px;
background: rgb(247, 235, 207);
}
.vision-3 img{
    width: 62px;
    height: 62px;
    left: 1px;
    top: 1px;
}
.vision-3 h4{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.vision-3 p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.vision-3 button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
}
.vision button:hover{
    background-color: aqua;
}
.yunus{
    width: 1280px;
height: 256px;
gap: 24;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin: 10px auto;
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;
background-position: left top;
padding: 48px 24px 48px 24px;

}
.yunus p{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.yunus h4{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.yunus h6{
    color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: -20px;
}
.news{
    width: 1280px;
height: 1406px;
gap: 32;
padding: 0px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin: 30px auto;
}
.recent{
    width: 1280px;
height: 120px;
margin: 32px 0px;
}
.recent h2{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin: auto 0px;
}
.recent p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 10px 0px 32px 0px;
}
.satelite-1{
    width: 1280px;
    height: 402px;
    padding: 48px;
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
color:rgb(255, 255, 255);

}
.satelite-description{
    width: 744px;
height: 290px;
margin: 0px 32px;
}
.satelite-img{
    width: 408px;
    height: 306px;
   border-radius: 30px;
}
.satelite-1 h2{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
margin: -8px 0px 0px 0px;

}
.al-jazeera{
    margin: 2px 0px;
}
.time{
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.date{
   margin: auto 12px;
}
.satelite-1 p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.satelite-1 button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
gap: 48;
padding: 13px 26px 13px 26px;
border-radius: 8px;
background: rgb(0, 106, 80);
}
.satelite-1 button:hover{
    background-color: aqua;
}
.satelite-2{
    width: 1280px;
height: 402px;
border-radius: 24px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 32;
padding: 48px;
background: rgb(255, 255, 255);
}
.satelite-2-description{
    width: 744px;
height: 290px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 0px;
margin: 32px 0px;
}
.satelite-2-description h2{
    width: 744px;
height: 38px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
margin: -8px 0px 0px 0px;
}
.satelite-2 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.satelite-2 button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
gap: 48;
padding: 13px 26px 13px 26px;
border-radius: 8px;
background: rgb(0, 106, 80);
}
.satelite-2 button:hover{
    background-color: aqua;
}
.donate{
    width: 1280px;
height: 464px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32;
padding: 0px;
margin: 80px auto;
}
.donate-descrip{
    width: 1280px;
height: 120px;
}
.donate-descrip h2{
    width: 1280px;
height: 48px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
margin-top: 300px;
}
.donate-descrip p{
    width: 1104px;
height: 48px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin: 10px 24px;
}
.donate-button{
    width: 1071px;
height: 128px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 24;
padding: 0px;
margin: 30px 0px 30px 35px ;

}
.btn-1{
padding: 40px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.btn-1:hover{
    background-color: aqua;
}

.btn-2:hover{
    background-color: aqua;
}
.btn-2{
    padding: 40px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
background: rgb(198, 228, 214);
}
.donate-input{
    width: 1032px;
height: 64px;
box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
margin: 10px 0px 10px 50px ;
}
.donate-input p{
    color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
padding: 20px 40px 20px 40px;
}
.donate-input p:hover{
    background-color: aqua;
}
.done{
    width: 151px;
height: 56px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
margin: 0px 500px ;
}
.done:hover{
    background-color: aqua;
}
.subscribe{
    width: 1280px;
height: 395px;
border-radius: 24px;
background: rgb(198, 228, 214);
margin: 200px auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.subscribe-container{
    width: 750px;
    height: 235px;
    margin: 50px auto;

}
.subs{
    width: 750px;
height: 112px;

}
.subs h1{
    width: 622px;
height: 48px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
margin: 0px 0px 0px 60px;
}
.subs p{
    width: 622px;
height: 48px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin: 20px auto;

}
.sub-btn{
    width: 750px;
height: 55px;
margin-top: 40px;
display: flex;
flex-direction: row;
}
.email{
    width: 600px;
height: 56px;
border-radius: 8px 0px 0px 8px;
background: rgb(255, 255, 255);
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 0px 40px 0px 40px;

}
.email:hover{
    background-color:blanchedalmond;
}
.sub-btn-1{
    width: 150px;
height: 59px;
border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
}
.sub-btn-1:hover{
    background-color: aqua;
}
.subscribe-container h5{
    width: 622px;
height: 19px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
margin-left: 50px;
}
